.container{
    display: flex;
    align-content: center;
    margin: auto auto auto auto;
    width: 50em;
}

.p{
    font-size: 30px;
    font-weight: bold;
    display: inline-flex;
    text-align: left;
    flex-wrap: wrap;
    margin: auto 0 auto 20px;
    object-position: center;
    width: fit-content;
    height: auto;
}

h1{
    font-weight: bold;
    font-size: 150px;
    margin: 0 50px 0 0;
}
